@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #111827;
	--primary: #007bff;
	--secondary: #ffd600;
	--border: #9ca3af;
}

html {
	font-size: 16px;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-border: var(--border);

	/* Text sizes */
	--text-xs: 0.75rem;
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-lg: 1.25rem;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Helvetica, Arial, sans-serif;
}
